<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{settings.size.width}}x{{settings.size.height}}</title>

    <link rel="stylesheet" href="{{content.css}}" type="text/css">
</head>

<body>
  <div class="banner border" data-bind="style.backgroundColor: bgcolor">
    <div class="content fullscreen">

      <img id="backgroundImage" src="{{content.images.backgroundImage}}" alt="" class="background">

      <div class="title_container">
        <div class="title" data-bind="html: _{{content.size}}_Headline"></div>
      </div>

    {{#unless content.isTeHelado}}
      <img src="{{content.images.dropletBig}}" alt="" class="droplet_big">
      <img src="{{content.images.dropletSmall}}" alt="" class="droplet_small">
    {{/unless}}

      <div class="product_data_holder">
        <img src="{{content.images.dropletBig}}" alt="" class="droplet_big_endframe">
        <div id="productDescription" class="product_description" data-bind="html: _{{content.size}}_Text_MainProduct"></div>
        <div id="productPrice" class="product_price_holder" >
          <span class="pesoSignProduct">$</span> <span class="product_price"></span> <span class="asteristc">*</span>
        </div>
      </div>
      
      <img id="productImage" data-bind="src: _{{content.size}}_MainProduct.Url" alt="" class="product">

      <div id="comparisonDataHolder" class="comparison_data_holder">
        <img id="greenDot" src="{{content.images.greenDot}}" alt="" class="green_dot">
        <div id="otherDescription" class="other_description" data-bind="html: _{{content.size}}_Text_ComparativeProduct"></div>
        <div id="otherPrice" class="other_price_holder">
          <span class="pesoSignOther">$</span> <span class="other_price"></span>
        </div>
      </div>
      
      <img id="comparisonImage" data-bind="src: _{{content.size}}_ComparativeProduct.Url" alt="" class="comparison">

    {{#if content.isTeHelado}}
      <img id="teHeladoCopy" src="{{content.images.teHeladoLogo}}" alt="" class="te_helado_copy">
      <img id="teHeladoCopyF2" src="{{content.images.teHeladoLogo}}" alt="" class="te_helado_copy_frame2">
    {{/if}}

      <img id="tangLogo" class="logo_{{content.version}}" src="{{content.images.logo}}">
      <img class="logo_frame2" src="{{content.images.logo}}">
      <img src="{{content.images.swirlImage}}" alt="" id="swirlImage" class="swirl">

    </div>
    <div class="mainExit fullscreen"></div>
  </div>

  <script src="https://s0.2mdn.net/ads/studio/Enabler.js">
    // please change profile id.
    Enabler.setProfileId(10738308);
  </script>
  <script src="https://s0.2mdn.net/ads/studio/cached_libs/gsap_3.9.1_min.js"></script>
</body>
</html>
