@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
  --red: #d51b28;
  --grey: #221f1f;
  --white: #221f1f;

  --width: var(--settings-size-width)px;
  --height: var(--settings-size-height)px;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body {
  background-color: var(--content-bgcolor);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--height);
}

.border {
  border: 1px solid #000000;

}

.banner {
  position: relative;
  overflow: hidden;
  width: var(--width);
  height: var(--height);
}

.content {
  opacity: 0;
}

.title_container {
  position: absolute;
  top: 34px;
  left: 66px;
  width: 170px;
  height: 38px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: left;
  overflow:hidden;
}

.title {
  color:#348700;
  letter-spacing: -0.9px;
  text-shadow: 0px 1px 0px #1F4F00;
}

.mainExit {
  cursor: pointer;
}

.logo_clasico {
  position: absolute;
  top: 68px;
  left: 46px;
  width: 158px;
}

.logo_te_helado{
  position: absolute;
  top: 48px;
  left: 46px;
  width: 130px;
}

.te_helado_copy{
  position:absolute;
  right: 44px;
  bottom: 36px;
  width: 136px;
}

.logo_frame2 {
  position:absolute;
  left: 11px;
  top: 32px;
  width: 47px;
}

.te_helado_copy_frame2 {
  position:absolute;
  left: 20px;
  top: 59px;
  width: 48px;
}

.droplet_big {
  position:absolute;
  left: 54px;
  top: 46px;
  width: 96px;
}

.droplet_big_endframe {
  position:absolute;
  left: 10px;
  top: 2px;
  width: 90px;
  transform: rotate(19deg);
}

.droplet_small {
  position:absolute;
  left: 36px;
  top: 56px;
  width: 26px;
}

.green_dot{
  position:absolute;
  right: 0px;
  top: 0px;
  width: 62px;
}

.swirl {
  position:absolute;
  left: -52px;
  top: -30px;
}

.background {
  position:absolute;
  left:0;
  top:0;
  opacity:0;
}

.product {
  position:absolute;
  left:0;
  bottom:0;
  width: var(--width);
  height: var(--height);
}

.comparison {
  position:absolute;
  left:0;
  bottom:0;
  width: var(--width);
  height: var(--height);
}

.product_data_holder{
  position:absolute;
  left: 30px;
  top: 16px;
  width: 118px;
  height: 100px;
}

.product_description{
  position:absolute;
  left: 35px;
  top: 15px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
  text-align: center;
  color:white;
}

.product_price_holder{
  position:absolute;
  left: 36px;
  top: 30px;
  width: 60px;
  height: 28px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
  display:flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.product_price{
  font-size: 32px;
  line-height: 28px;
}

.pesoSignProduct{
  font-size:20px;
}

.asteristc{
  font-size: 16px;
  line-height: 18px;
}

.comparison_data_holder{
  position:absolute;
  right: 16px;
  top: 28px;
  width: 62px;
  height: 62px;
}

//options forcompairson holder y position

.compairson_botella{
  top:28px!important;
}

.compairson_pet{
  top:38px!important;
}

.compairson_lata{
  top:40px!important;
}

.compairson_tetra{
  top:36px!important;
}

.other_description{
  position:absolute;
  right: 0px;
  top: 15px;
  width: 60px;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
}

.other_price_holder{
  position:absolute;
  right: 4px;
  top: 26px;
  width: 54px;
  height: 26px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
  display:flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.other_price{
  font-size: 26px;
  line-height: 24px;
}

.pesoSignOther{
  font-size: 16px;
  line-height: 26px;
}