@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
  --red: #d51b28;
  --grey: #221f1f;
  --white: #221f1f;

  --width: var(--settings-size-width)px;
  --height: var(--settings-size-height)px;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body {
  background-color: var(--content-bgcolor);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--height);
}

.border {
  border: 1px solid #000000;

}

.banner {
  position: relative;
  overflow: hidden;
  width: var(--width);
  height: var(--height);
}

.content {
  opacity: 0;
}

.title_container {
  position: absolute;
  top: 186px;
  left: 8px;
  width: 280px;
  height: 96px;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  text-align: center;
  overflow:visible;
  display:flex;
  justify-content: center;
  align-items: center;
}

.title {
  color:#348700;
  letter-spacing: -0.9px;
text-shadow: 0px 2px 0px #1F4F00;
}

.mainExit {
  cursor: pointer;
}

.logo_clasico {
  position: absolute;
  top: 228px;
  left: 56px;
  width: 188px;
}

.logo_te_helado{
  position: absolute;
  top: 194px;
  left: 58px;
  width: 152px;
}

.logo_frame2 {
  position:absolute;
  left: 102px;
  top: 58px;
  width: 94px;
}

.te_helado_copy{
  position:absolute;
  right: 50px;
  bottom: 208px;
}

.te_helado_copy_frame2 {
  position:absolute;
  left: 122px;
  top: 116px;
  width: 90px;
}

.droplet_big {
  position:absolute;
  left: 66px;
  top: 202px;
}

.droplet_big_endframe {
  position:absolute;
  left:0;
  top:0;
  width: 144px;
  transform: rotate(19deg);
}

.droplet_small {
  position:absolute;
  left: 42px;
  top: 210px;
}

.green_dot{
  position:absolute;
  right: 0px;
  top: 0px;
  width: 96px;
}

.swirl {
  position:absolute;
  left: -212px;
  top: -50px;
}

.background {
  position:absolute;
  left:0;
  top:0;
  opacity:0;
}

.product {
  position:absolute;
  left:0;
  bottom:0;
  width: var(--width);
  height: var(--height);
}

.comparison {
  position:absolute;
  left:0;
  bottom:0;
  width: var(--width);
  height: var(--height);
}

.product_data_holder{
  position:absolute;
  left: 20px;
  top: 176px;
  width: 190px;
  height: 100px;
}

.product_description{
  position:absolute;
  left: 40px;
  top: 22px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
}

.product_price_holder{
  position:absolute;
  left: 40px;
  top: 44px;
  width: 96px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
  display:flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  padding:0;
  margin:0;
}
.product_price{
  font-size: 54px;
  line-height: 40px;
}

.pesoSignProduct{
  font-size:30px;
}

.asteristc{
  font-size: 20px;
  line-height: 18px;
}

.comparison_data_holder{
  position:absolute;
  right: 12px;
  top: 232px;
  width: 96px;
  height: 96px;
}

.other_description{
  position:absolute;
  right: 0px;
  top: 24px;
  width: 94px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
}

.other_price_holder{
  position:absolute;
  right: 0;
  top: 44px;
  width: 96px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
  display:flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.other_price{
  font-size: 38px;
  line-height: 30px;
}

.pesoSignOther{
  font-size: 18px;
  line-height: 33px;
}