@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
  --red: #d51b28;
  --grey: #221f1f;
  --white: #221f1f;

  --width: var(--settings-size-width)px;
  --height: var(--settings-size-height)px;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body {
  background-color: var(--content-bgcolor);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--width);
  height: var(--height);
}

.border {
  border: 1px solid #000000;

}

.banner {
  position: relative;
  overflow: hidden;
  width: var(--width);
  height: var(--height);
}

.content {
  opacity: 0;
}

.title_container {
  position: absolute;
  top: 30px;
  left: 76px;
  width: 210px;
  height: 58px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: left;
  overflow:hidden;
}

.title {
  color:#348700;
  letter-spacing: -0.9px;
  text-shadow: 0px 1px 0px #1F4F00;
}

.mainExit {
  cursor: pointer;
}

.logo_clasico {
  position: absolute;
  top: 56px;
  left: 56px;
  width: 188px;
}

.logo_te_helado{
  position: absolute;
  top: 34px;
  left: 58px;
  width: 152px;
}

.te_helado_copy{
  position:absolute;
  right: 66px;
  bottom: 18px;
}

.logo_frame2 {
  position:absolute;
  left: 8px;
  top: 32px;
  width: 52px;
}

.te_helado_copy_frame2 {
  position:absolute;
  left: 22px;
  top: 60px;
  width: 56px;
}

.droplet_big {
  position:absolute;
  left: 66px;
  top: 32px;
}

.droplet_big_endframe {
  position:absolute;
  left: 20px;
  top: 0px;
  transform: rotate(19deg);
}

.droplet_small {
  position:absolute;
  left: 42px;
  top: 40px;
}

.green_dot{
  position:absolute;
  right: 0px;
  top: 0px;
  width: 74px;
}

.swirl {
  position:absolute;
  left: -30px;
  top: -26px;
}

.background {
  position:absolute;
  left:0;
  top:0;
  opacity:0;
}

.product {
  position:absolute;
  left:0;
  bottom:0;
  width: var(--width);
  height: var(--height);
}

.comparison {
  position:absolute;
  left:0;
  bottom:0;
  width: var(--width);
  height: var(--height);
}

.product_data_holder{
  position:absolute;
  left: 22px;
  top: -2px;
  width: 140px;
  height: 80px;
}

.product_description{
  position:absolute;
  right: 14px;
  top: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  color:white;
}

.product_price_holder{
  position:absolute;
  right: 20px;
  top: 34px;
  width: 60px;
  height: 32px;
  font-family: 'Montserrat', sans-serif;
  vertical-align: text-top;
  text-align: center;
  color:white;
  display:flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.product_price{
  font-size: 38px;
  line-height: 32px;
}

.pesoSignProduct{
  font-size:24px;
}

.asteristc{
  font-size: 20px;
  line-height: 18px;
}

.comparison_data_holder{
  position:absolute;
  right: 28px;
  top: 0px;
  width: 70px;
  height: 70px;
  margin:0;
  padding:0;
}

//options forcompairson holder y position

.compairson_botella{
  top:0px!important;
}

.compairson_pet{
  top:30px!important;
}

.compairson_lata{
  top:22px!important;
}

.compairson_tetra{
  top:36px!important;
}

.other_description{
  position:absolute;
  width: 66px;
  height: 12px;
  right: 4px;
  top: 18px;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
}

.other_price_holder{
  position:absolute;
  right: 2px;
  top: 30px;
  width: 70px;
  height: 26px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color:white;
  display:flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.other_price{
  font-size: 32px;
  line-height: 28px;
}

.pesoSignOther{
  font-size: 17px;
  line-height: 32px;
}